.schooled h1{
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.schooled{   
    top: 220px;
    left: 377px;

}

.experts{
    top: 758px;

}